*{
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #4B0082;
}
main{
  margin-top: 15%;
}
header{
  background-color:  #1E90FF;
  width: 100%;
  padding: 40px;
  text-align: center;
}
header h1{
  color: white;
  font-size: 2em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#text {
  background-color: #228B22;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 70%;
  max-height: 600px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
  text-align: center;
  background-color: rgb(111, 138, 138);
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}
footer{
  background-color: orangered;
  width: 100%;
  padding: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
footer p{
  color: white;
  font-size: 1.3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
